*{margin: 0;padding: 0;box-sizing: border-box;color: #ff6525;}

body{
  background-color: #ecf0f3;
}
.container{
  border: 2px solid black;
  background-color: #ecf0f3;
  width: 300px;
  margin: 100px auto;
  border: none;
  box-shadow: inset 5px 5px 12px #fff, 5px 5px 12px rgba(0,0,0,0.4);
  text-align: center;
  padding-bottom: 10px;
  border-radius: 20px;
  font-family: sans-serif;
  border-color: #ecf0f3;
}
.container input{
  height: 60px;
  width: 90%;
  margin-top: 50px;
  text-align: end;
  border: none;
  outline: none;
  font-size: 50px;
  box-shadow: inset -5px -5px 12px #fff, inset 5px 5px 12px rgba(0, 0, 0, 0.14);
  border-radius: 30px;
  background-color: #ecf0f3;
}
.container input::placeholder{
  color: #ff6525;
}
.container input:focus{
  outline: none;
}
.container .frow{
  margin-top: 30px;
}
.container button{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  margin: 10px;
  box-shadow: -5px -5px 12px #fff, 5px 5px 12px rgba(0, 0, 0, 0.14);
  font-size: 18px;
  font-weight: bolder;
}
.container .eq{
  width: 100px;
  border-radius: 20px;
}