@media (max-width: 500px){
    header{
        width: 482px;
        justify-content: space-between;
        padding: 0 20px;

    }
    nav{
        display: none;
    }
    .menu{
        display: block;
        padding-bottom: 3rem;
        font-size: 20px;
    }
    main{
        height: 117vh;
        overflow: hidden;
    }
    .bg-img{
        transform: scale(2);
        width: 475px;
        height: 500px;
        
        
    }
    .content{
        padding: 0px 12px;
        position: absolute;
        top: 150px;
        right: 0;
    }
    .content .text, .text2{
        font-size: 14px;
        line-height: 50px;
    }
    .search{
        position: absolute;
        right: 39px;
        top: 10px;
    }
    .s2{
        display: block;
        
    }
    .s2 .durbin{
        height: 440px;
        width: 480px;
    }
    .s2 .durbin #dur-img{
        padding:0 20px;
    }
    .s2 .platform{
        width: 480px;
        padding: 30px 25px;
    }
    h1{
        font-size: 4rem;
        padding: 20px 0;
    }
    .s3{
        display: block;
        height: 210rem;
        width: 66.4rem;
    }
    .s3 .courses{
        height: 151rem;
        width: 66.2rem;
        display: block;
        padding: 0;
    
    }
    .s3 .courses .right, .left{
        text-align: center;
    }
    .s3 .courses .right{
        padding-bottom: 0;
    }
    .s3 .courses .left{
        padding-top: 0px;
    }
    .s3 .idea{
        width: 66.2rem;
        height: 60rem;
        padding: 8rem 3rem;
    }
    .s3 .courses .btn{
        width: 60rem;
        height: 7.5rem;
    }
    .s4{
        height: auto;
        padding: 0;
    }

    .s4 .feature{
        padding: 10rem 2rem;
    }
    .s4 .archi .same{
        height: 350px;
        width: 450px;
        padding-top: 9rem;
    }
    .s5{
        height: 258rem;
        padding-top: 8rem;
    }
    .s5 .faculty{
        padding: 0 2rem;
    }
    .s5 .same1{
        height: 250px;
        width: 370px;
        margin-left: 0;
        margin-top: 20rem;
    }
    .img1{
        position: absolute;
        right: 14rem;
    }
    .s5 .same1 .name{
        position: absolute;
        /* top: 9rem; */
        left: 15rem;
    }
    .s5 .same1 .ic{
        position: absolute;
        top: 27rem;
        left: 20rem;
    }
    .s6{
        padding: 0;
    }
    .pp{
        padding: 3rem 2rem;
        width: 66rem;
    }
    footer{
        height: 172rem;
    }
    .foot{
        display: block;
        padding-left: 0;
        padding-top: 7rem;
    }
    .foot .prt-1{
        padding: 3rem;
    }
    .div-last{
        padding: 0;
        display: block;
        justify-content: space-between;
    }
    .div-last .copyright{
        padding-left: 3rem;
    }
    .div-last .con{
        padding: 4rem 0 0 2.4rem;
    }
    .big{
        font-size: 2.5rem;
    }

}
 